<%= form_for provider do |f| %>
	<%= render "shared/text_field", f: f, attribute: :name, args: {} %>
	<%= render "shared/text_field", f: f, attribute: :website, args: {} %>
	<div class="form-group">
		<%= f.label :logo %> 
		<%= f.file_field :logo %>
  </div>
  <div class="form-group">
  	<%= f.label :banner %>	 	  
		<%= f.file_field :banner %>
  </div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>