<div class="col-xs-12 mission-tile">
	<div class="row flex-container mission-header">
		<div class="mission-number"><h2><%= mission.number %></h2></div>
		<div class="mission-title"><h2>
			<%= mission.name %>
			<div class="float-right">
				<% if user_signed_in? %>
					<%= link_to "Edit", edit_mission_path(mission), class: "btn btn-default btn-sm btn-mission" %>
				<% end %>
			</div>
		</h2></div>
		<% if !mission.launch_time.nil? && !mission.launched? %>
		<div class="mission-time"><h3>
			<%= "#{"NET " if mission.net?}#{mission.launch_time.strftime("%H:%M:%S %Z")}" %>
		</h3></div>
		<% end %>
		<div class="mission-date"><h2><%= mission.launch_date.strftime('%-d %b %Y') %></h2></div>
	</div>

	<div class="row mission-body">
		<div class="col-xs-12">
			<%= markdown(mission.teaser) %>
			<!--<p class="lead"><a href="#">Read More</a></p>-->
		</div>
	</div>

	<div class="row mission-footer">
		<div class="col-xs-12">
			<% if mission.launched? %>
			Launched at: <%= mission.launch_time.strftime("%H:%M:%S %Z") %>
			<% else %>
			<%= "Estimated " if mission.net? %>Time to Launch: <%= time_diff(mission.launch_date, mission.launch_time) %> | 
			<%= link_to "Check back for launch coverage", mission.coverage %>
			<% end %>
			<%= markdown_line(mission.notes) %>
		</div>
	</div>
</div>