<%= form_for mission, html: { class: "mission-form" } do |f| %>
	<%= render "shared/text_field", f: f, attribute: :number, args: {label_class: ""} %>
	<%= render "shared/text_field", f: f, attribute: :name, args: {label_class: ""} %>
	<%= render "shared/text_field", f: f, attribute: :wikipedia_article, args: {label_class: ""} %>
	<%= render "shared/text_field", f: f, attribute: :launch_location, args: {label_class: ""} %>

	<br>

	<div class="form-group">
		<%= f.label :logo %> 
		<%= f.file_field :logo %>
  </div>

  <br>

	<div class="form-group">
		<%= f.label :launch_time %>
		<%= f.datetime_select :launch_time, start_year: 1980, include_seconds: true, include_blank: true %> UTC
	</div>

	<div class="checkbox">
		<label>
			<%= f.check_box :net %> NET?
		</label>
	</div>

	<br>

	<%= f.label :teaser %>
	<div id="wmd-button-bar-description-teaser"></div>
	<%= render "shared/text_area", f: f, attribute: :teaser, args: { placeholder: "Teaser", field_class: "wmd-input form-control new-mission-teaser",
      field_id: "wmd-input-description-teaser" } %>

  <%= f.label :notes %>
  <div id="wmd-button-bar-description-notes"></div>
	<%= render "shared/text_area", f: f, attribute: :notes, args: { placeholder: "Notes", field_class: "wmd-input form-control new-mission-notes",
      field_id: "wmd-input-description-notes", label_class: "sr-only" } %>

  <br>

  <%= f.label :body %>
  <div id="wmd-button-bar-description-body"></div>
	<%= render "shared/text_area", f: f, attribute: :body, args: { placeholder: "Body", field_class: "wmd-input form-control new-mission-body",
      field_id: "wmd-input-description-body", label_class: "sr-only" } %>


  <h4>Image Gallery</h4>

	<%= f.fields_for :attachments do |builder| %>
		<%= render "attachment_fields", f: builder %>
	<% end %>

	<%= link_to_add_fields "[+] Add image", f, :attachments %>

	<!--<%= file_field_tag 'attachments[]', type: :file, multiple: true %>-->

	<br><br>

	<div class="checkbox">
		<label>
			<%= f.check_box :published %> Publish mission?
		</label>
	</div>

	<%= f.hidden_field :provider_id, value: "1" %>
	<%= f.submit class: "btn btn-primary" %>
<% end %>