<div class="col-xs-12 mission-tile">
	<div class="row flex-container mission-header">
		<div class="mission-number"><h2><%= mission.number %></h2></div>
		<div class="mission-title"><h2>
			<%= mission.name %>
			<% if user_signed_in? %>
				<%= link_to "Edit", edit_mission_path(mission), class: "btn btn-default btn-sm btn-mission" %>
			<% end %>
		</h2></div>
		<div class="mission-date"><h2><%= mission.launch_time.strftime('%-d %b %Y') %></h2></div>
	</div>

	<div class="row mission-body">
		<div class="col-xs-12">
			<%= markdown(mission.teaser) %>
			<p class="lead"><a href="#">Read More</a></p>
		</div>
	</div>

	<div class="row mission-footer">
		<div class="col-xs-12">
			Time to launch: <%= time_diff(mission.launch_time) %> | 
			<%= link_to "Check back for launch coverage", mission.coverage %>
		</div>
	</div>
</div>