<div class="container">
	<div class="col-xs-12">
		<span class="text-center"><h1>Launch Manifest</h1></span>
	</div>

	<div class="col-xs-12 text-center sub-title">
		<a href="#">Upcoming</a> | <a href="#">Completed</a>
	</div>

	<div class="col-xs-12 mission-tile">
		<div class="row flex-container mission-header">
			<div class="mission-number"><h2>26</h2></div>
			<div class="mission-title"><h2>CRS-7</h2></div>
			<div class="mission-date"><h2><%= @launch.strftime('%-d %b %Y') %></h2></div>
		</div>

		<div class="row mission-body">
			<div class="col-xs-12">
				<p class="lead">CRS-7 is the seventh cargo resupply mission to the International Space Station. It is being flown as part of the Commercial Resupply Services (CRS) contract awarded to SpaceX by Nasa.</p>
				<p class="lead">On board will be the first International Docking Adapter (IDA-1) to upgrade the ISS's docking interface for future manned missions.</p>
				<p class="lead"><a href="#">Read More</a></p>
			</div>
		</div>

		<div class="row mission-footer">
			<div class="col-xs-12">
				Time to launch: <%= "#{@day_diff} days, #{@hour_diff} hours, #{@minute_diff} minutes" %> | 
				<a href="#">Check back for launch coverage</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 mission-tile">
		<div class="row flex-container mission-header">
			<div class="mission-number"><h2>27</h2></div>
			<div class="mission-title"><h2>CRS-7</h2></div>
			<div class="mission-date"><h2><%= @launch.strftime('%-d %b %Y') %></h2></div>
		</div>

		<div class="row mission-body">
			<div class="col-xs-12">
				<p class="lead">CRS-7 is the seventh cargo resupply mission to the International Space Station. It is being flown as part of the Commercial Resupply Services (CRS) contract awarded to SpaceX by Nasa.</p>
				<p class="lead">On board will be the first International Docking Adapter (IDA-1) to upgrade the ISS's docking interface for future manned missions.</p>
				<p class="lead"><a href="#">Read More</a></p>
			</div>
		</div>

		<div class="row mission-footer">
			<div class="col-xs-12">
				Time to launch: <%= "#{@day_diff} days, #{@hour_diff} hours, #{@minute_diff} minutes" %> | 
				<a href="#">Check back for launch coverage</a>
			</div>
		</div>
	</div>
		
	<!--<table class="table table-striped table-overview">
		<tr>
			<th>Name</th>
			<th>Contracting Firm</th>
			<th>Notable Events</th>
			<th>Date</th>
			<th>Resources</th>
		</tr>
		<tr>
			<td>Sample Mission</td>
			<td>United States Air Force</td>
			<td>Booster Barge Landing</td>
			<td><%= Time.now.strftime("%-d %B %Y, %l:%M%P %Z (%z)") %></td>
			<td>Interviews, Commentary, Videos</td>
		</tr>
	</table>-->
</div>