<% provide(:title, @mission.name) %>
<div class="container">
<% if user_signed_in? %>
	<%= link_to 'Edit', edit_mission_path(@mission), class: 'btn btn-primary' %>
	<% end %>
</div>
<div class="container mission-page">
	<div class="col-xs-12 flex-container mission-header">
		<div class="mission-logo">
			<% if @mission.logo.present? %>
				<%= image_tag @mission.logo.url(:small) %>
			<% else %>
				<%= image_tag @mission.provider.logo.url(:small) %>
			<% end %>
		</div>
		<div class="mission-title">
			<div class="top-title">
				<h1><%= @mission_headline %></h1>
				<div class="mission-number">
					<h2><%= @mission.number %></h2>
				</div>
			</div>
			<h3><%= @mission.launch_location.present? ? @mission.launch_location : "Location to be determined" %></h3>
			<h3>
				<%= "#{@mission.launched? ? "Launched " : "Launch "} #{"no earlier than " if @mission.net?}" +
				"#{@mission.launch_date.present? ? @mission.launch_date.strftime("%-d %b %Y") : "time to be announced"}" +
				"#{", " + @mission.launch_time.strftime("%H:%M:%S %Z") if !@mission.launch_time.nil?}" +
				"#{(" (" + time_diff(@mission.launch_date, @mission.launch_time) + ")") if @mission.launch_date.present? && !@mission.launched?}" %></h3>
		</div>
	</div>

	<div class="col-xs-12 mission-body">
		<h2>Overview</h2>
		<%= markdown(@wiki.overview) %>
		<!--<%= markdown(@mission.body) %>-->

		<% if @mission.attachments.present? %>
			<h2>Images</h2>

			<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">
			  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			    <a href="http://www.latestfreestuff.co.uk/wp-content/uploads/2015/04/Free-Natures-menu.png" itemprop="contentUrl" data-size="1000x667" data-index="0">
			      <img src="http://www.latestfreestuff.co.uk/wp-content/uploads/2015/04/Free-Natures-menu.png" height="400" width="600" itemprop="thumbnail" alt="Beach">
			    </a>
			  </figure>
			  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			      <a href="http://prleonard.com/wp-content/uploads/2015/05/purina-kitten-dry-food.jpg" itemprop="contentUrl" data-size="1000x667" data-index="1">
			          <img src="http://prleonard.com/wp-content/uploads/2015/05/purina-kitten-dry-food.jpg" height="400" width="600" itemprop="thumbnail" alt="">
			      </a>
			  </figure>
			</div>

			<div class="image-body">
				<!--<%= render_gallery_for @mission.attachments.order(id: :asc), list_tag: :div, item_tag: :div, item_class: :gallery_item, original: 'full', thumbnail: 'thumb', title: 'caption' %>-->
			</div>
		<% end %>
	</div>

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	    <!-- Background of PhotoSwipe. 
	         It's a separate element as animating opacity is faster than rgba(). -->
	    <div class="pswp__bg"></div>

	    <!-- Slides wrapper with overflow:hidden. -->
	    <div class="pswp__scroll-wrap">

	        <!-- Container that holds slides. 
	            PhotoSwipe keeps only 3 of them in the DOM to save memory.
	            Don't modify these 3 pswp__item elements, data is added later on. -->
	        <div class="pswp__container">
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	        </div>

	        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
	        <div class="pswp__ui pswp__ui--hidden">

	            <div class="pswp__top-bar">

	                <!--  Controls are self-explanatory. Order can be changed. -->

	                <div class="pswp__counter"></div>

	                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

	                <button class="pswp__button pswp__button--share" title="Share"></button>

	                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

	                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

	                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
	                <!-- element will get class pswp__preloader--active when preloader is running -->
	                <div class="pswp__preloader">
	                    <div class="pswp__preloader__icn">
	                      <div class="pswp__preloader__cut">
	                        <div class="pswp__preloader__donut"></div>
	                      </div>
	                    </div>
	                </div>
	            </div>

	            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	                <div class="pswp__share-tooltip"></div> 
	            </div>

	            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
	            </button>

	            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
	            </button>

	            <div class="pswp__caption">
	                <div class="pswp__caption__center"></div>
	            </div>

	        </div>

	    </div>

	</div>

	<!-- -->

	<div class="row"><div class="col-xs-12">
		<% if @mission.outside_launch_window? %>
			<%= link_to 'Back to Manifest', completed_provider_path(@mission.provider), class: 'btn btn-primary' %>
		<% else %>
			<%= link_to 'Back to Manifest', provider_path(@mission.provider), class: 'btn btn-primary' %>
		<% end %>
	</div></div>
</div>