<div class="container mission-page">
	<% if user_signed_in? %>
	<%= link_to 'Edit', edit_mission_path(@mission), class: 'btn btn-primary btn-edit' %>
	<% end %>
	<div class="col-xs-12 flex-container mission-header">
		<div class="mission-number">
			<h2><%= @mission.number %></h2>
		</div>
		<div class="mission-logo">
			<% if @mission.logo.present? %>
				<%= image_tag @mission.logo.url(:medium) %>
			<% else %>
				<%= image_tag @mission.provider.logo.url(:small) %>
			<% end %>
		</div>
		<div class="mission-title">
			<h1><%= @mission.name %></h1>
			<h3>SLC-40, Cape Canaveral Air Force Station, Florida</h3>
			<h3>
				<%= "#{@mission.launched? ? "Launched " : "Launch "} #{"no earlier than " if @mission.net?}#{@mission.launch_date.strftime("%-d %b %Y")}#{", " + @mission.launch_time.strftime("%H:%M:%S %Z") if !@mission.launch_time.nil?}" %></h3>
		</div>
	</div>

	<div class="col-xs-12 mission-body">
		<%= markdown(@mission.body) %>
	</div>

	<div class="row"><div class="col-xs-12">
		<%= link_to 'Back to Manifest', provider_path(@mission.provider), class: 'btn btn-primary' %></div></div>
</div>