<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-xs-12">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "MANIFEST.", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <!--<li><%= link_to "SpaceX", root_path %></li>-->
          <!--<li><%= link_to "United Launch Alliance", root_path %></li>
          <li><%= link_to "Arianespace", root_path %></li>-->
        </ul>
        <% if user_signed_in? %>
          <div class="navbar-right">
            <p class="navbar-text">
              <%= link_to current_user.email, edit_user_registration_path %>
            </p>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-sm btn-navbar" %>
          </div>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="sub-header" style="background-image: url(<%= Provider.first.banner.url %>)">
  <h1 class="sub-header-title"><%= link_to image_tag(Provider.first.logo.url(:medium)), root_path %></h1>
</div>